files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFDeWSKWw4Df2mSvfhs5dBxr2z0oeMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjExMTAzMTcyMDQyWhcNMjIxMTAzMTcy
      MDQyWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAx0tYzu7gZIAy6RTW820wT0dvJyKCC2nts3lFxZfcaZRDndGP
      Di8VbEzuSE+/zDVSJy8nTUNm85RYpFEuFU2cXlwC1WvEFJocjShgfnv5l/5ysmiM
      2aFFuiynuGOLhlaQhYpv2ePBLTAhwFcEillHbtOJNemZE73Haxia0OfBntSpZrvU
      TzCmCDn8DOIJP0rxWo3YWA038yRMTnEHstkzDgk+RZ3G0UIeooRvO32MU1FshBIF
      sEkgW1/7H8xL87HZyQRmDSLpaVNw+oet+5J0HgNwtumjQSo1ydAxUiFPwQSPbG7V
      R9e6LrltoJcwU8LUnVaCyJiRxKhJ1YTj+cP+7wIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQCKB0LqiPsA48M3+cO0m+JAgdvJkHFF9XQtrh6TGa5tIfh/Z6mIr9hYc5l9
      jcYj/obs8j1mUFpJu5gvaYIsQinsOU1y9HFEyORODMsYFbAe6w+53k4Y1Wt8Ryyc
      vqejwA4Ks+2xe0ZICDkpXpf6xGrcXEW+rm0k5Gn0Q8wRfLPO8s7gXmg02axDejBo
      JUAz1Cciovex/zQ89Ney/iPntosY+qm0hpNlek8swsxmPYMEJv0DcafBTOAETS66
      /xBqhm/E5d7O/faJLFq87TJ3wrVkzD0ScEaBW0bH0D+HoXSnN2bedVAiJTwUfyX+
      BVyDRilARS9OK9MF2UOHu7glfToN
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAx0tYzu7gZIAy6RTW820wT0dvJyKCC2nts3lFxZfcaZRDndGP
      Di8VbEzuSE+/zDVSJy8nTUNm85RYpFEuFU2cXlwC1WvEFJocjShgfnv5l/5ysmiM
      2aFFuiynuGOLhlaQhYpv2ePBLTAhwFcEillHbtOJNemZE73Haxia0OfBntSpZrvU
      TzCmCDn8DOIJP0rxWo3YWA038yRMTnEHstkzDgk+RZ3G0UIeooRvO32MU1FshBIF
      sEkgW1/7H8xL87HZyQRmDSLpaVNw+oet+5J0HgNwtumjQSo1ydAxUiFPwQSPbG7V
      R9e6LrltoJcwU8LUnVaCyJiRxKhJ1YTj+cP+7wIDAQABAoIBAQCHFO4UDNuxoyde
      zs5HXvoAsnWHvB8TJ3CDVq7RGHbAZUtTfEgPoCBQMPDNuKhS/M07W/2yo/3zGdjf
      P1sR+3ICjzEogYv9PtwdXYHSGav6tu/9N1pI5MQDReNE2swmeSQqL8RSlspIG7i0
      ywZ707nUR7NYBIbKV7cEQ0AkWwHk6iLiyeCLkkaiFjCTqKebZdCY8y8wV7zFU69+
      DmKrbkQstzL/CauCihKXChKBR7QiOVRmCkPIUoPEyen87MEa4XS6IxFyMGk7qk2f
      dvs/JR3Mkem+Cf0zT+uV3fp8dV+C09jKSrGobHZD6ElEG1cN8kBJAey6FIXEuLRj
      Zq/Bf2wRAoGBAPR/9hZ9xzUEWDiJvN/xFkN4fYq0qndHdq5SC769OsBioDtG0YGX
      EFRHqMF1n/SPY8i8Z1RHibfaebRtZiKqxwrKLiGMrEp39K2BtNG7bPNkFtyBkqYQ
      A/XhUHFBLANikV0eBmhTOo1nKcNf4l4aRiXdRrl3sEz5wgCrJkl68jcnAoGBANCr
      EByQyUMpjk+ivhlwhbIx9rbug17q5WeG1JCrhh5fqhbwmA3a1fwGohvQ7e820Uyf
      lLyh1yVJlPj0Uu+DMJnrkoOQtc9nYHk46He4KOLVEdjCjxLUmZ1hUtwir6V51XnQ
      M0d148kVI9rYLbeh2pt4rHZA2ZvBZMFNHU6ueRb5AoGAWRutx4KtsH/V2z0vzfoi
      oBJwxrWTjwdHlL6oMyrqF6WaOiBUSMOSmvTG50MEOfBscINhsVClO5FvW7enSqkt
      A5yt9WI8hKN1VCr6iJmjWo0228SJeuZJWzpzw+L5tH4e9m3z7d+vbkuT5/WxHZS7
      zh74IK4jXdqEvxOhT5R0ZG8CgYAIA5nhzvm715u8mT590aGA34RfMDfhbFoVKMt/
      JudGwVvR97mPRqlTPZn6QYLx3gQZ0kMvH3QY3YOYMCIDSuGR98cvwF4LMig1X6cl
      +e+wDojZ71b5XSrtLXC2ParLSyuUuxdNFk0CSwqOfCD9XXz83ZyaChGRdtL8zY5j
      mDXUWQKBgG3cA194pPevuW8qcuX1DSbdtexfFPj6gAdSGA1wlRorUBBT9T7Eoayf
      tNMRqi/xFmZCEtzhnH6JudJkiDJ3X5STzHyiQIb1c09ekSBOMCqgCCyujjcMbmo0
      T7edhBtimGU7VWOgyQAF+vA8cnLztt9V0OJyid7lgYQWMxqKdqgG
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart