files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFChVSw18L8lNc98DpEnroz2/AT04MA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjExMDI2MDM1NTQxWhcNMjIxMDI2MDM1
      NTQxWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAxu/awY03Th7+fi5oasKiY4zewO/wluqWnqb5t0+YiwGWYZtX
      tqxB99VzsA1LmxfDK8SDs4OKE6+g40Q/86VT+QXFf85y1SRzXFtluRTMfGh9PSMI
      UlCvDBR38NuaI1kzAW7TCxJFLI4UQNp8EdKaxTrZGaWWc7wIoQTKCclzl8x16o1B
      G6A9A3iplOM5TAwxzs9dw7sXaE5XnA3QrErqdEKfrO6nCq15YrvmKSD6ywYBmu0p
      0rVW2K0NViz364B0g1U5dgTR0GtDuWNblkEPzOSnl2KpnF9h13dE+h6oeR3ufZwC
      XyFKH6Ft9nUOsUEjV85D2/n1KxlsTw1rK91fmQIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQA2pwLvyr+3NDiLlqjdqIwaPI2kJa+O9sgG5d2G9K4aC/sZH/empzKzQ5QX
      V1fiRULL1mcjA5LH9d9UjPA0m2IvPui5qZiw29xLP+lgl9UvCSM3/iuyH1JHZPdW
      bzYQnlTtAiuxOwfIKfJiL/RwqBNXfaYxfCkWqfFGSdmETLLQ7Dmm6sNlGupfWB3D
      iq8YHlsjyAdotoTbU3QPdxntOs0tGEVsIBXdXuEdzgFbpZrfaneihaDfVu78gCAK
      wJc1Yk4C6OBH8BPoFORXo1iWoPkL6BrpO98lINoMMbkJ921l60DQ63Wqh7xFEkuM
      VJ1s166MWIzRLJJ+HVM+B+GrM7Kv
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
            MIIEpgIBAAKCAQEAxu/awY03Th7+fi5oasKiY4zewO/wluqWnqb5t0+YiwGWYZtX
            tqxB99VzsA1LmxfDK8SDs4OKE6+g40Q/86VT+QXFf85y1SRzXFtluRTMfGh9PSMI
            UlCvDBR38NuaI1kzAW7TCxJFLI4UQNp8EdKaxTrZGaWWc7wIoQTKCclzl8x16o1B
            G6A9A3iplOM5TAwxzs9dw7sXaE5XnA3QrErqdEKfrO6nCq15YrvmKSD6ywYBmu0p
            0rVW2K0NViz364B0g1U5dgTR0GtDuWNblkEPzOSnl2KpnF9h13dE+h6oeR3ufZwC
            XyFKH6Ft9nUOsUEjV85D2/n1KxlsTw1rK91fmQIDAQABAoIBAQCo8j/cijpCrQ3C
            SVVB/YN9ecAfKGYxNI6vs+x04jMRMkrtH8jxCP+JIwx5ogDoeNi2TdDvXjGgIFJJ
            T8fj+i8DWARvUvuwyaDy+We9M82phe9+QUcq6PyQDL4DnewcQv+PIvg1+dEnUo4e
            ua4OUMZB44VGQ5svNKw7Wt7eSuhRK8JPAgGZeehW+V6fL4weV9/KUdPnjUTyJMEm
            Ck5iMMiW02nz7xbazuFr+tefbA6RBGRcfXODA+N70XrvZB8KpvS4h3oZJwOBz9rL
            I2cWblPXF4EsfI5++DEZoLDupa4TLj0+AWLctNC/7rU7g8mKmeacd2dKyEnz+g1B
            ObtWSuIBAoGBAORQP2vwPYYUJe2898sTSOLfaThwg/+hvY56+DepcFvdJdBx03Wd
            2DFstdv8gc1HkBZkKpG4ti2zPIBBTsVVV9eG/VOuJKPTdzyfNvHvl4Bv2/q3e+33
            1EHskGzb/7HkK6tYrYvFkk4yq/i1Le4Ln0El6KB8ho9lJrJI1R3pxMLZAoGBAN8P
            pJxOlq+zQiGNRsuueKpXlhmndMMUz44ZUXIdWL+BFcS+AGDcfVqkAcORt8f2kzUT
            KPsz0SmUeDcVV2nbPXT3iltfC7GE41/Y03gbu+zLDgTQfm64oHK3QPdaHFjpqQxp
            mJbexlobs9SFWhKx0ujlFDqIhcUC6Bm7RP1P+grBAoGBANzhEepv+mV7mpIcjjHm
            D06FyzryB5HJPSTZrMfU4cHN+mZlqKkSMvTl8i7IZB9gC3LOJyzhYUZnL7H4/KcG
            gLwfeXd6czIXRDTe5346R/zWuyAcYQYBDFVW8waN9Bp63xCe8w7U7k0+0ocDaVLx
            5XlWnm6c6mVR+5Thx2RwI45JAoGBAL6kU//zev43qvGaGUPDngWYTgUnBbgldS7x
            nJZ3Vn52CPDZouEmEU0Cly9av0P8Ddxyv7fSlZV/+y644rjqVCA/4NQu64ORG/Oz
            ESm6Kmc7NIQQ3b4rtZXV4YSGU2v6aCzfozZuuAATZSLhxhXsPWInR56vSAUVcuFr
            GI+XZxEBAoGBAL6CwXAc4hUTjbSZkRZtj/XjIS0FmzO87qun5wSFXLw6XFqB1eCR
            B6MM9bgYt6H/XMVpc9oSZPpVV6seH9zuxXwq4iB7aYZ/qXm11OaoQYpOXRrRHE5w
            0D33hnTwpI6SvQY1PqhlUB564KJmQmMpmfLYRknzovNWVEK2OYTj7PPL
            -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart