files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFEhwK3F12zq2mV/wYbnRC8VcMiG+MA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjExMTA1MjEwODUzWhcNMjIxMTA1MjEw
      ODUzWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAuzEbZudaX8WjQlPryzcIvQeYCuNeqOFpkGki2MGBQxM4qUhX
      Nq8i3CMaBqoOXEm8PVfteSOfT4/CBhjekAawOIDXHKdrdJ7SMTewOgGFgHAjvHLS
      WQds573FjN7MHGru9NB0+E7sPEz1bQ/m+vmKzmvsnRU7lCZyDmMgeTRAGJC1sq2S
      U0vgijQn7K8fOajiUrgZBtKOa+hgGnXyz8hTbTSvVUhiGUMtvBboqDTtcwDHTlSk
      fI0c3a5k4sTp66Q51VeA9ZVnbAZOWfS0Z4aIr7z37jAialYbW+qbENL2nQo5rUBq
      Ki+8u+DRNzWJwb0izK+v2hRovmNSDGRfMN3rgwIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQA2KkEpX8aBaSbPv+VB7aXDffZNzszuwKe/fO21KCoDWKX7yYunhGoLA4+e
      QbBhDzMrvn7c3M0x58dLBgMFKluoMFX9YLiUHePMpf7e5Luv6E4uh1oyA9lvVyNi
      PbNgEsCevbkUgpqVw3i4Badbh6//E/4nETToZWVoZyxt+pqpJ9ShXZsclVTlJNiz
      as+gjwK8wwDqLJWeSfRBhEvQMAvhjZ49w9IMNQ0aMxzljWRJaQAm2mbNTAQMUZzT
      0BicPJ1Qca0xCaj9RWry6thUD96nvjPZO5zSRbmmYhScpeb19P0qGIPo5G60brQS
      uHpAfqIV5QizjIe3j7VLA6v+3BaW
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAuzEbZudaX8WjQlPryzcIvQeYCuNeqOFpkGki2MGBQxM4qUhX
      Nq8i3CMaBqoOXEm8PVfteSOfT4/CBhjekAawOIDXHKdrdJ7SMTewOgGFgHAjvHLS
      WQds573FjN7MHGru9NB0+E7sPEz1bQ/m+vmKzmvsnRU7lCZyDmMgeTRAGJC1sq2S
      U0vgijQn7K8fOajiUrgZBtKOa+hgGnXyz8hTbTSvVUhiGUMtvBboqDTtcwDHTlSk
      fI0c3a5k4sTp66Q51VeA9ZVnbAZOWfS0Z4aIr7z37jAialYbW+qbENL2nQo5rUBq
      Ki+8u+DRNzWJwb0izK+v2hRovmNSDGRfMN3rgwIDAQABAoIBAFv18ARJu/g428+F
      8tzOmJhk1qjismo88uNjAx+BUMNm+fsP8uiGeZW0GOEVQiDMiJGKVLuiaG1prmPY
      a95NqtzXTtZg2UVdkN1lAko83R0P+j5mGjhqkXH3pMlj2tpLHkFe91fVTfEBzcBa
      g5rgZPSryH4TJEXP7VBsGlPw+1wVQxBHGE7vysB3yCQoHzRF23jL+uiW62Pb1xA2
      yReSnBgHdtixAach/Frj7wOQ07l6Gt7U/OqYG4wHC71Q6T4Y3tIOTs1NBKfT5gdp
      57Z6OMnQnwwbqq2XCLxSj/bHJxUhz7Np/uSP//oIZHxVdRzhOba5ohgg8X5fHRur
      ruiRP2ECgYEA9B4aHaDnzOWpYu6deuuAHr4D0PkipuuhlfWAiq6gVgvpAB1/lNXm
      /HrzxYseVrCaE0wJf6/n3UuJHt10qoDjuMpukDCbkppTmUHzFHDjo5yuVlz28UyE
      MxNrE7xeY3rq52tBpNE439cbNFHBrC/EAK0CJC7bh1rOLdIBCwAO+ccCgYEAxE2q
      QWkkjF+JVVtR1GxlxLRrGZ0Ewr52OEDmkz0VYum+Ub2/wCBglekxj8OfGjlGQlRq
      aQZdIQFIvPgkFO7iwD+BudAsOhyolB4EnxoFJZtc7bwjiswRJj6tCiJOPBSI0AF7
      FDxhV6VBB1/S0wYrtvjxwt5fYjSZ+uQYHvJfoGUCgYBxStMV8woA1ojxCAp/9HGG
      UusUfbruOqbIIKKiOf7hUC+3RPljyo2jmTAu+qx+0QEAeaZi4vE5i4e8kkxFoQGO
      TixXsKdSt1qa4rd8QhPzZ5ClNgnI3Jjx1043X5Fym6YO9oEFi6/Yekz+z/6Q+a3+
      HkzDHBf3zlWngDHJuCI7GwKBgB5RiHw1ywlLMCDYy9itLUKmQuxfzf5uAEBL9dDD
      3Gu8gkKJtfXsij5dF+SGaCpasjlIZG74JqYUVrGo+ZmqE6dxp42VU19eUcMep8QS
      9ryKNF4bcrnbLsLjZ0Jrbf3lhgPqVqIXeUlaIqMK77rb9yB5bo2UXtMCIM4ZMIiH
      ErHpAoGBAODMywzz6g7oasZZUhd3/9tmngpD4XwSRtGj2a1l/8L9tRXZWj+v/mWD
      WzEqlkA6UYbMHwIAqSG0U1IU6e4EgUC+SEMkkp1Z1raFvhPR4U6YXQDVd+39h6/L
      rbocKw4fuIg658CQ9u2UPPc8KfMExDdnODHeyafn/nfPQ4GsTzBR
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart